@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/red-hat-display-v20-latin-500.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-500.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/red-hat-display-v20-latin-700.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/red-hat-display-v20-latin-900.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-900.ttf") format("truetype");
}
:root {
    --color-pale-blue: #e0e8ff;
    --color-bright-blue: rgb(56, 41, 224);
    --color-bright-blue-hover: rgba(56, 41, 224, 0.7);
    --color-very-pale-blue: #f5f7ff;
    --color-desaturated-blue: rgb(114, 128, 167);
    --color-dark-blue: #1f2f56;
    --color-white: #fff;

    --font-primary: "Red Hat Display", sans-serif;

    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;

    --text-base: 1.6rem;
    --text-small: 1.4rem;
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.btn-base {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    letter-spacing: 0.025rem;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: var(--font-bold);
}

body {
    font-family: var(--font-primary);
    font-size: var(--text-base);
    font-weight: var(--font-medium);
    color: var(--color-desaturated-blue);
    background-color: var(--color-pale-blue);
    background-image: url("./assets/pattern-background-mobile.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.order-wrapper {
    --content-padding: 3.2rem 2.4rem;
    --order-fs-title: 2.2rem;
    --order-fs-description: 1.5rem;
    border-radius: 2rem;
    overflow: hidden;
    margin: 7.1rem 2.4rem 0 2.4rem;
    background-color: var(--color-white);
    box-shadow: rgb(114, 128, 167, 0.3) 0px 16px 32px 0px;
    max-width: 45rem;
}

.order-content-wrapper {
    padding: var(--content-padding);
}

.order-title {
    font-size: var(--order-fs-title);
    font-weight: var(--font-black);
    text-align: center;
    color: var(--color-dark-blue);
}

.order-description {
    max-width: 90%;
    font-size: var(--order-fs-description);
    text-align: center;
    margin: 1.7rem auto 2.4rem auto;
    line-height: 1.66666666667;
    letter-spacing: 0.005rem;
}

.order-plan-wrapper {
    --content-padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--content-padding);
    background-color: var(--color-very-pale-blue);
    border-radius: 1.2rem;
}

.order-plan-icon {
    margin-right: 2rem;
}

.order-plan-wrapper > div {
    display: flex;
    align-items: center;
}

.order-plan-typem,
.order-plan-price {
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.02rem;
}

.order-plan-type {
    font-weight: var(--font-black);
    color: var(--color-dark-blue);
    letter-spacing: 0.02rem;
    font-size: var(--text-small);
}

.order-plan-link {
    display: block;
    color: var(--color-bright-blue);
    font-weight: var(--font-bold);
    letter-spacing: 0.01rem;
    font-size: 1.3rem;
    transition: 200ms ease;
}

.order-process-btn {
    padding: 1.6rem 0;
    width: 100%;
    background-color: var(--color-bright-blue);
    color: var(--color-white);
    margin: 2.4rem 0;
    box-shadow: 0px 16px 32px 0px rgba(56, 41, 224, 0.3);
    transition: 200ms ease;
}

.order-cancel-btn {
    display: block;
    color: inherit;
    background-color: transparent;
    margin: auto;
    transition: 200ms ease;
}

@media (hover: hover) {
    .order-plan-wrapper a:hover {
        color: var(--color-bright-blue-hover);
        text-decoration: none;
    }
    .order-process-btn:hover {
        background-color: var(--color-bright-blue-hover);
    }

    .order-cancel-btn:hover {
        color: var(--color-dark-blue);
    }
}

@media screen and (min-width: 540px) {
    body {
        background-image: url("./assets/pattern-background-desktop.svg");
    }
    .order-wrapper {
        margin-top: 10.2rem;
        --content-padding: 4.7rem 4.8rem 4.8rem 4.9rem;
        --order-fs-title: 2.8rem;
        --order-fs-description: 1.6rem;
    }

    .order-plan-wrapper {
        --content-padding: 2.5rem 2.4rem;
    }
    .order-plan-type,
    .order-plan-price {
        font-size: 1.6rem;
    }
    .order-plan-link {
        font-size: 1.4rem;
    }
    .order-process-btn {
        margin: 3.2rem 0;
    }
    .order-description {
        margin-bottom: 2rem;
    }
}
