@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/red-hat-display-v20-latin-500.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-500.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/red-hat-display-v20-latin-700.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/red-hat-display-v20-latin-900.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-900.ttf") format("truetype");
}
:root {
    --color-pale-blue: #e0e8ff;
    --color-bright-blue: rgb(56, 41, 224);
    --color-bright-blue-hover: rgba(56, 41, 224, 0.7);
    --color-very-pale-blue: #f5f7ff;
    --color-desaturated-blue: rgb(114, 128, 167);
    --color-dark-blue: #1f2f56;
    --color-white: #fff;

    --font-primary: "Red Hat Display", sans-serif;

    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;

    --text-base: 1rem;
    --text-small: 0.875rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
a {
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    font-weight: var(--font-bold);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body {
    background-image: url("./assets/pattern-background-mobile.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    font-family: var(--font-primary);
    font-size: var(--text-base);
    font-weight: var(--font-medium);
    color: var(--color-desaturated-blue);
    background-color: var(--color-pale-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.order__card {
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: var(--color-white);
    box-shadow: rgb(114, 128, 167, 0.3) 0px 16px 32px 0px;
    max-width: 28.125rem;
    margin-top: 0.0625rem;
}

.order__content {
    padding: clamp(2rem, 4.071vw + 1.046rem, 3rem) 1.5rem;
}

.order__title {
    font-size: clamp(1.375rem, 4.8vw + 0.4rem, 1.75rem);
    font-weight: var(--font-black);
    text-align: center;
    color: var(--color-dark-blue);
    margin-bottom: 1.25rem;
}

.order__description {
    padding-inline: 0.75rem;
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 1.5625;
    letter-spacing: -0.02em;
}

.order__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-very-pale-blue);
    border-radius: 0.75rem;
    padding: clamp(1rem, 6.4vw - 0.3rem, 1.5rem);
}

.order__icon {
    margin-right: 1.25rem;
}

.order__plan-wrapper {
    display: flex;
    align-items: center;
}

.order__plan {
    font-size: clamp(0.875rem, 1.6vw + 0.55rem, 1rem);
}

.order__plan--name {
    font-weight: var(--font-black);
    display: block;
    color: var(--color-dark-blue);
    margin-bottom: calc(1.5em - 0.8125rem);
}

.order__change-btn {
    display: block;
    color: var(--color-bright-blue);
    font-weight: var(--font-bold);
    font-size: 0.875rem;
    transition: 200ms ease;
    text-decoration: underline;
}

.order__continue-btn {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1.125rem;
    width: 100%;
    background-color: var(--color-bright-blue);
    color: var(--color-white);
    box-shadow: 0px 16px 32px 0px rgba(56, 41, 224, 0.3);
    margin: clamp(1rem, 3.089vw + 0.517rem, 2rem) 0;
    border-radius: 0.625rem;
    letter-spacing: -0.02em;
    text-align: center;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.order__cancel-btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: inherit;
    background-color: transparent;
    transition: 200ms ease;
    letter-spacing: -0.02em;
}

@media (hover: hover) {
    .order__detail a:hover {
        color: var(--color-bright-blue-hover);
        text-decoration: none;
    }
    .order__continue-btn:hover {
        background-color: var(--color-bright-blue-hover);
    }

    .order__cancel-btn:hover {
        color: var(--color-dark-blue);
    }
}
