@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/red-hat-display-v20-latin-500.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-500.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/red-hat-display-v20-latin-700.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/red-hat-display-v20-latin-900.woff2") format("woff2"),
        url("./assets/fonts/red-hat-display-v20-latin-900.ttf") format("truetype");
}
:root {
    --color-pale-blue: #e0e8ff;
    --color-bright-blue: rgb(56, 41, 224);
    --color-bright-blue-hover: rgba(56, 41, 224, 0.7);
    --color-very-pale-blue: #f5f7ff;
    --color-desaturated-blue: rgb(114, 128, 167);
    --color-dark-blue: #1f2f56;
    --color-white: #fff;

    --font-primary: "Red Hat Display", sans-serif;

    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;

    --text-base: 1rem;
    --text-small: 0.875rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.btn-base {
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    letter-spacing: -0.02em;
    font-family: var(--font-primary);
    font-weight: var(--font-bold);
}

body {
    font-family: var(--font-primary);
    font-size: var(--text-base);
    font-weight: var(--font-medium);
    color: var(--color-desaturated-blue);
    background-color: var(--color-pale-blue);
    background-image: url("./assets/pattern-background-mobile.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.order-wrapper {
    border-radius: 2rem;
    overflow: hidden;
    margin: 7.1rem 2.4rem 0 2.4rem;
    background-color: var(--color-white);
    box-shadow: rgb(114, 128, 167, 0.3) 0px 16px 32px 0px;
    max-width: 45rem;
}

.order-content-wrapper {
    padding: 2rem 1.5rem;
}

.order-title {
    font-size: clamp(1.375rem, 4.8vw + 0.4rem, 1.75rem);
    font-weight: var(--font-black);
    text-align: center;
    color: var(--color-dark-blue);
    margin-bottom: 1.25rem;
}

.order-description {
    max-width: 90%;
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 1.5625;
    letter-spacing: -0.02em;
}

.order-plan-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--content-padding);
    background-color: var(--color-very-pale-blue);
    border-radius: 0.75rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.order-plan-icon {
    margin-right: 1.25rem;
}

.order-plan-wrapper > div {
    display: flex;
    align-items: center;
}

.order-plan-typem,
.order-plan-price {
    font-size: var(--text-small);
}

.order-plan-type {
    font-weight: var(--font-black);
    color: var(--color-dark-blue);
}

.order-plan-link {
    display: block;
    color: var(--color-bright-blue);
    font-weight: var(--font-bold);
    font-size: 0.8125rem;
    transition: 200ms ease;
}

.order-process-btn {
    padding-top: 1rem;
    padding-bottom: 1.125rem;
    width: 100%;
    background-color: var(--color-bright-blue);
    color: var(--color-white);
    box-shadow: 0px 16px 32px 0px rgba(56, 41, 224, 0.3);
    transition: 200ms ease;
    margin-bottom: 1.5rem;
}

.order-cancel-btn {
    display: block;
    color: inherit;
    background-color: transparent;
    margin: auto;
    transition: 200ms ease;
}

@media (hover: hover) {
    .order-plan-wrapper a:hover {
        color: var(--color-bright-blue-hover);
        text-decoration: none;
    }
    .order-process-btn:hover {
        background-color: var(--color-bright-blue-hover);
    }

    .order-cancel-btn:hover {
        color: var(--color-dark-blue);
    }
}
